@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes drop {
  0% {
    bottom: 0px;
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    bottom: -200px;
  }
}

@keyframes wave {
  0% {
    background-position: 0 160px;
    background-size: 170px 300px;
  }

  100% {
    background-position: 500px -18px;
    background-size: 250px 150px;
  }
}

body {
  background-color: #e0e0e0;
}

.loader {
  width: 120px;
  height: 120px;
  margin-bottom: 100px;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  line-height: 120px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 16px;
}

.loader span {
  z-index: 3;
}

.loader-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  animation: wave 1s ease-out forwards;
}

.drops {
  -webkit-filter: url('#liquid');
  filter: url('#liquid');
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  animation: fade-in 0.1s linear 0.4s forwards;
  display: flex;
  flex-direction: row;
}

.drop1,
.drop2 {
  width: 21px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drop1 {
  width: 90px;
  height: 16px;
  bottom: 2px;
  border-radius: 0;
}

.drop2 {
  animation: drop 0.3s cubic-bezier(1, 0.19, 0.66, 1.12) 1.5s infinite;
}
