// For the dripping liquid:

// npm install node-sass
// npm install sass-loader sass webpack --save-dev
// https://github.com/sass/node-sass
//npm install --save-dev node-sass sass-loader style-loader css-loader mini-css-extract-plugin
// npm install vue-style-loader, css-loader, sass-loader, sass --save-dev, postcss-loader,
// npm uninstall postcss-loader --save-dev
// npm install postcss-loader@~3.0.0 --save-dev
// npm install autoprefixer

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700,900');
@mixin leftPos($count) {
  @for $i from 1 through $count {
    &:nth-child(#{$i}) {
      left: ((($i)-2) * 13)-1%;
    }
  }
}

body {
  background: #5444c4;
  color: #fff;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  letter-spacing: 0.08em;
}
b {
  font-size: 28px;
  color: #fff;
}
.container {
  z-index: -3 !important;
  width: 100vw;
  height: 200vh;
  margin: 15px auto;

  font-weight: 300;
  font-family: Heebo, serif;
  text-shadow: 0px 1px 2px rgb(255, 255, 255);

  /* font-family: nunito sans,sans-serif; */
  text-align: center;
  color: #606060;
  font-size: 3em;
  line-height: 1.5em;
  position: relative;
  z-index: 3;
  background-image: radial-gradient(
      #21212157 80%,
      #00ffff4b 80%,
      transparent 50%
    ),
    radial-gradient(#fafafa4f 10%, transparent 50%);
  background-color: #5f0455;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;

  overflow: scroll;
  position: absolute;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.text {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #6cd2ff;
  font-size: 64px;
  font-weight: 900;
}
.liquid {
  width: 120%;
  height: 10px;
  position: absolute;
  top: -2%;
  left: -10%;
  background-image: linear-gradient(
    210deg,
    rgb(255, 0, 43, 0.4),
    rgba(255, 174, 0, 0.4)
  );
  border-radius: 10%;
  animation: liquid 5s;
  animation-fill-mode: forwards;
}

.blobs {
  filter: url('#goo');
  width: 100%;
  height: 100%;
  position: relative;
}
.blob {
  width: 30px;
  height: 30px;
  margin: 0 5px 0px 0;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  @include leftPos(9);
  animation: drip_one 5s;
  animation-fill-mode: forwards;

  &:nth-of-type(4n-7) {
    width: 65px;
    animation: drip_four 5s;
    animation-fill-mode: forwards;
  }
  &:nth-of-type(3n-2) {
    width: 26px;
  }
  &:nth-of-type(2) {
    width: 22px;
  }
  &:nth-of-type(8) {
    animation: drip_five 5s;
    animation-fill-mode: forwards;
  }
  &:nth-of-type(4n + 2) {
    height: 56px;
    animation: drip_two 5s;
    animation-fill-mode: forwards;
  }
  &:nth-of-type(6n-2) {
    height: 42px;
    animation: drip_three 5s;
    animation-fill-mode: forwards;
  }
}

@keyframes drip_one {
  from {
    top: 0;
  }
  to {
    top: 103%;
  }
}
@keyframes drip_two {
  from {
    top: 0;
  }
  to {
    top: 104%;
  }
}
@keyframes drip_three {
  from {
    top: 0;
    height: 52px;
  }
  to {
    top: 102%;
    height: 132px;
  }
}
@keyframes drip_four {
  from {
    top: 0;
    width: 65px;
    height: 30px;
  }
  to {
    top: 102%;
    width: 75px;
    height: 45px;
  }
}
@keyframes drip_five {
  from {
    top: 0;
    height: 30px;
  }
  to {
    top: 102%;
    height: 72px;
  }
}
@keyframes liquid {
  from {
    height: 15px;
  }
  to {
    height: 109%;
  }
}
