/* @font-face {
  font-family: "revicons";
  fallback: fallback;
  src: url("./revicons.woff") format('woff'),
  url("./revicons.ttf") format('ttf'),
  url("./revicons.eot") format('ttf');
} */
.react-multiple-carousel__arrow {
  background-color: #5f045400 !important;
}
.helloThere {
  height: 10em;
  width: 10em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -webkit-transform: rotate3d(0, 1, 0, 720deg) rotateY(0);
  transform: rotate3d(0, 1, 0, 720deg) rotateY(0);

  /* transitioning to do the rotation.  Hey everyone what if they rotate when you click them? */
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;

  /* transition: background-position 0.75s; */

  -webkit-transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
  transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -moz-transform: rotate3d(0, 1, 0, 720deg);
  -moz-transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
  -moz-transition-delay: 0.5s;
  -o-transform: rotate3d(0, 1, 0, 720deg);
  -o-transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
  -o-transition-delay: 0.5s;

  border-radius: 1px;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 4px 4px 5px rgba(255, 170, 170, 0.2);
  /* background-color: red; */
}

.react-carousel-item {
  height: 10em;
  width: 10em;
  padding-bottom: 1em;
  /* height: auto; */
  padding-top: 1em;
  -webkit-transition: all 0.1s ease-out, background-position 0.75s,
    background-color 1s ease-out !important;
  -moz-transition: all 0.1s ease-out, background-position 0.75s,
    background-color 1s ease-out !important;
  -o-transition: all 0.1s ease-out, background-position 0.75s,
    background-color 1s ease-out !important;
  transition: all 0.1s ease-out, background-position 0.75s,
    background-color 1s ease-out !important;
}

/* I'm going to rewrite the carousel card div
CSS here instead of declaring it explicitly in the code. */
.react-carousel-item:hover .helloThere {
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  transition: all 0s ease-out;

  text-decoration: none !important;

  /* background-position: 0 -100%; */

  -webkit-transform: rotate(0deg) rotateY(0);
  -moz-transform: rotate(0deg) rotateY(0);
  transform: rotate(0deg) rotateY(0);
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transform: rotate(0deg) rotateY(0);
  -o-transition-delay: 0;
  -webkit-box-shadow: #00ffff 0 0 1px, #5f0455 0 -1px 2px, #5f0455 0 -1px 5px,
    #5f0455 0 -1px 10px, 2px 1px 7px 2px rgba(0, 0, 0, 0);
  box-shadow: #00ffff 0 0 1px, #5f0455 0 -1px 2px, #5f0455 0 -1px 5px,
    #5f0455 0 -1px 10px, 2px 1px 7px 2px rgba(0, 0, 0, 0);
}
.react-carousel-item:hover {
  background-position: 0 -100%;
  -webkit-transform: translateX(1%) translateY(-1%) rotate(1deg);
  -moz-transform: translateX(1%) translateY(-1%) rotate(1deg);
  -ms-transform: translateX(1%) translateY(-1%) rotate(1deg);
  transform: translateX(1%) translateY(-1%) rotate(1deg);
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  transition: all 0s ease-out;
  background-position: 0 100%;
  -webkit-animation: moveToRight 0.1s;
  -moz-animation: moveToRight 0.1s;
  animation: moveToRight 0.1s;
  -webkit-transform: scale(1.05);
  box-shadow: none !important;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-shadow: -1px 0 rgb(221, 219, 185), 0 1px rgb(255, 255, 255),
    1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
  backdrop-filter: blur(5px);
  z-index: 3;
}

.react-multi-carousel-list {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: static;
  align-content: space-evenly;
  width: 50vw;
}
.react-multi-carousel-track {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  position: static;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform, transition;
}
.react-multiple-carousel__arrow {
  position: absolute;
  outline: none;
  transition: all 0.5s;
  border-radius: 35px;
  z-index: 1000;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  min-width: 43px;
  min-height: 43px;
  opacity: 1;
  cursor: pointer;
}
.react-multiple-carousel__arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}
.react-multiple-carousel__arrow::before {
  font-size: 20px;
  color: #fff;
  display: block;
  font-family: revicons;
  text-align: center;
  z-index: 2;
  position: relative;
}

.react-multiple-carousel__arrow--left {
  left: calc(4% + 1px);
}
.react-multiple-carousel__arrow--left::before {
  content: '\e824';
}
.react-multiple-carousel__arrow--right {
  right: calc(4% + 1px);
}
.react-multiple-carousel__arrow--right::before {
  content: '\e825';
}

.react-multi-carousel-dot-list {
  position: absolute;
  bottom: 0;
  display: flex;
  left: 0;
  right: 0;
  justify-content: center;
  margin: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.react-multi-carousel-dot button {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
  padding: 5px 5px 5px 5px;
  box-shadow: none;
  transition: background 0.5s;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  padding: 0;
  margin: 0;
  margin-right: 6px;
  outline: 0;
  cursor: pointer;
}
.react-multi-carousel-dot button:hover:active {
  background: #080808;
}
.react-multi-carousel-dot--active button {
  background: #080808;
}
.react-multi-carousel-item {
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.react-multi-carousel-item:hover {
  animation: shake 0.32s cubic-bezier(0.66, 0.17, 0.39, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .react-multi-carousel-item {
    flex-shrink: 0 !important;
  }
  .react-multi-carousel-track {
    overflow: visible !important;
  }
}
